<footer class="pt-6 pb-4">
  <div class="container">
    <div class="row">
      <!-- Logo & Description -->
      <div class="col-lg-5 mb-4 mb-lg-0">
        <a class="navbar-brand" href="/index.html"
          ><img src="/assets/images/logo.svg" alt="Company Logo"
        /></a>

        <p class="text-secondary pt-4 p-small" style="text-align: justify">
          Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex.
        </p>
      </div>

      <!-- Useful Links -->
      <div class="col-lg-2 offset-lg-3 col-md-6 mb-4 mb-md-0">
        <h6 class="fw-bold mb-3">Useful Links</h6>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#" class="text-secondary text-decoration-none p-small"
              >About</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-secondary text-decoration-none p-small"
              >Blog</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-secondary text-decoration-none p-small"
              >Contact</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-secondary text-decoration-none p-small"
              >Tools</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-secondary text-decoration-none"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>

      <!-- Services -->
      <div class="col-lg-2 col-md-6 mb-lg-4 mb-md-0">
        <h6 class="fw-bold mb-3">Services</h6>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#" class="text-secondary text-decoration-none"
              >SEO Audit</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-secondary text-decoration-none"
              >Ecommerce SEO</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-secondary text-decoration-none"
              >International SEO</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-secondary text-decoration-none"
              >Data Analysis</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-secondary text-decoration-none"
              >Data Architecture</a
            >
          </li>
        </ul>
      </div>
    </div>

    <hr class="my-lg-4 hr-footer" />

    <!-- Bottom Row -->
    <div class="row align-items-center">
      <div class="col-md-6">
        <p class="mb-3 mb-lg-0 text-secondary copyright-text">
          &copy; 2025 Concinnity Limited.
        </p>
      </div>
      <div class="col-md-6 d-flex justify-content-md-end gap-3">
        <a href="#" class="text-secondary fs-5"
          ><i class="bi bi-facebook"></i
        ></a>
        <a href="#" class="text-secondary fs-5"
          ><i class="bi bi-twitter-x"></i
        ></a>
        <a href="#" class="text-secondary fs-5"
          ><i class="bi bi-linkedin"></i
        ></a>
        <a href="#" class="text-secondary fs-5"
          ><i class="bi bi-instagram"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
