<header class="pb-5 pt-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-md p-0 fs-6 fw-normal">
          <div class="container-fluid">
            <a class="navbar-brand" href="/index.html"
              ><img src="/assets/images/logo.svg" alt="Company Logo"
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-center"
              id="navbarSupportedContent"
            >
              <ul class="navbar-nav gap-4">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/index.html"
                    >Home</a
                  >
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                    aria-expanded="false"
                    >Solutions</a
                  >
                  <ul class="dropdown-menu">
                    <li class="dropend">
                      <a
                        class="dropdown-item dropdown-toggle"
                        href="#"
                        data-bs-toggle="dropdown"
                        data-bs-auto-close="outside"
                        aria-expanded="false"
                        >Marketing</a
                      >
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li class="dropend">
                          <a
                            class="dropdown-item dropdown-toggle"
                            href="#"
                            data-bs-toggle="dropdown"
                            data-bs-auto-close="outside"
                            aria-expanded="false"
                            >SEO</a
                          >
                          <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                              <a
                                class="dropdown-item"
                                href="/seo/e-commerce-seo.html"
                                >Ecommerce SEO</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="/seo/international-seo.html"
                                >International SEO</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="/seo/local-seo.html"
                                >Local SEO</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="/seo/seo-audit.html"
                                >SEO Audit</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="/seo/organic-exposure.html"
                                >Organic Exposure</a
                              >
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Digital Strategy</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropend">
                      <a
                        class="dropdown-item dropdown-toggle"
                        href="#"
                        data-bs-toggle="dropdown"
                        data-bs-auto-close="outside"
                        aria-expanded="false"
                        >Tech</a
                      >
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                          <a
                            class="dropdown-item"
                            href="/tech/data-architecture.html"
                            >Data Architecture</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="/tech/system-implementation.html"
                            >System Implementation</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="/tech/data-analysis.html"
                            >Data Analysis</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/blog/blog-archive.html">Blog</a>
                </li>
                <li class="nav-item text-nowrap">
                  <a class="nav-link" href="/contact-us.html">Contact Us</a>
                </li>
              </ul>
            </div>
            <div class="d-none d-md-block">
              <a class="btn-secondary fw-semibold text-decoration-none" href="#"
                >Tools</a
              >
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
